{% extends "base.html" %} {% block title %}WebX -Home{% endblock %}

<!-- "Extended" -->
{% block Content %}

<div id="home-body" class="home-body container-fluid radial-gradient-home">
  <!-- flashnews area -->
  <div class="flash-news container-fluid d-flex p-3 mb-3">
    <div class="container-fluid flash-text-container">
      <h3 id="theMarqueehead">
        {% for i in range(marquee_list|length) %}
        <span>
          <i class="fa fa-cloud"></i> &nbsp; {{ marquee_list[i] }} &nbsp; &nbsp;
        </span>
        {% endfor %}
      </h3>
    </div> 

    <div class="container-fluid time-date">
      <span id="day">DD</span>
      <span id="hiphen">-</span>
      <span id="hour">00</span>
      <span id="colon1">:</span>
      <span id="minute">00</span>
      <span id="colon2">:</span>
      <span id="second">00</span>
    </div>
  </div>

  <!--Prime/Latest Headline-->
  <div class="main-headline-container">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1 id="head-news-title" onmouseenter="Glowup(this)"><a href="/readmore/def/0"  >{{ news_list[0]['title']}}</a></h1>
          <div id="head-news-description" >{{ news_list[0]['description']}}</div>
          <div class="readmore-container d-flex flex-row mb-3">


           <span id="topnewsReadMore" class="read-more"><a  class="p-2" href="/readmore/def/0"  ><i onmouseenter = "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-angles-right fa-2x" data-toggle="tooltip" data-placement="bottom" title="Read more now!"></i></a>  </span> 
           <span id="topnewsVisitOriginal" class="visit-original"><a class="p-2" href='{{ news_list[0]["link"] }}'><i onmouseenter = "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-person-running fa-2x" data-toggle="tooltip" data-placement="bottom" title="Visit the original article"></i></a></span>
           <span id="topnewsReadLater" class="read-later"><a class="p-2"  onclick="AppendToRL('{{0}}', 'def')"><i onmouseenter = "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-download fa-2x" data-toggle="tooltip" data-placement="bottom" title="Add to read-later"></i></a></span> 


          </div>
        </div>
        <div class="image-headline col-4">
          <a href='{{ news_list[0]["image-link"] }}' target="_blank">
            <img onmouseover="FocusUp(this)" onmouseleave="FocusDown(this)" src='{{ news_list[0]["image-link"] }}' alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- search section -->
  <div id="search-section">
    <input id="searchText" type="text"  placeholder="Search Headline.. " />
    <span id="searchspan" style="display: none;"><i id="search-icon" class="fa-brands fa-searchengin fa-2x"></i></span>
    <span id="close-search"><i class="fa-solid fa-power-off"></i></span>
    <div id="search-results">

      <!-- enter search results here -->
         <div id="appendSearch">
          
         </div>
      
    </div>
  </div>

  <!-- videosection -->
  <div class="video-section">
    <video autoplay muted loop src="">
      <h5>url_for('static', filename='videos/demo.mp4')</h5>
    </video>
  </div>

  <!-- other tech headlines -->

  <div id="Other-head-container" class="other-headline-container container" >
    {% for i in range(1,6) %}
    <div class="news-section">
      <div class="row">
        <div class="col-12">
          <h3 id="otherheader{{i}}" class="headers-title" onmouseenter="Glowup(this)"><a href="/readmore/def/{{i}}"  >{{ news_list[i]['title'] }}</a></h3>
          <div class="other-news-description headers-desp">
            {{ news_list[i]['description']}}
          </div>
          <div class="other-readmore-container  d-flex flex-row mb-3 justify-content-between">
            <!-- To-do- target the index using api and feed data from backend-->

            <span class="other-read-more flex-grow-1 "><i onmouseenter = "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-angles-right fa-2x" data-toggle="tooltip" data-placement="bottom" title="Read more now!"><a  class="p-2" href="/readmore/def/{{i}}"  ></a> </i> </span> 
            <span class="other-visit-original "><i onmouseenter = "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-person-running fa-2x" data-toggle="tooltip" data-placement="bottom" title="Visit the original article.."><a class="p-2" href='{{ news_list[i]["link"] }}'></a></i></span>
            <span class="other-read-later " ><i onmouseenter = "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-download fa-2x" data-toggle="tooltip" data-placement="bottom" title="Add to read-later."><a class="p-2"  onclick="AppendToRL('{{i}}', 'def')"></a></i></span> 


          </div>
        </div>
        <div id="otherImg{{i}}" class="col-4 new-img-demo ">
          <a href='{{ news_list[i]["image-link"] }}' target="_blank">
            <img onmouseover="FocusUp(this)" onmouseleave="FocusDown(this)" src='{{ news_list[i]["image-link"] }}' alt="" />
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div id="append-more-def-news"></div>
    

    <!-- loadmoreButton section //Includes othercontainer scroll buttons -->
    <div  id="load1" class="load-more sticky">
      <span id="scrollBottomOther" ><i class="fa-solid fa-jet-fighter-up fa-2x" style="transform: rotate(180deg);"></i></span>
      <span id="loadmoreOther"><i class=" fa-solid fa-circle-chevron-down fa-3x"></i></span>
      <a href="#scrollBottomOther"><span id="scrollTopOther"><i class="fa-solid fa-jet-fighter-up fa-2x"> </i></span></a>   <!--The link might cause a problem in the future to the home route-->
    </div>
  </div>

  <!-- web3NewsDiv -->
  <div class="container web3News-section">
    <!-- for loop into division each news  -->
    {% for i in range(0,6) %}
    <div class="blockchain-news-section">
      <div class="row">
        <div class="col-12">
          <h3 id="blockchainheader{{i}}"  class="headers-title" onmouseenter="Glowup(this)"><a href="/readmore/block/{{i}}"  >{{blockchain_list[i]['title'] }}</a></h3>
        </div>
        <div class="blockchain-news-description headers-desp">
          {{ blockchain_list[i]['description']}}
        </div>
        <div class="block-readmore-container d-flex flex-row mb-3">
          <span class="other-read-more flex-grow-1 "><i onmouseenter = "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-angles-right fa-2x" data-toggle="tooltip" data-placement="bottom" title="Read more now!"><a  class="p-2" href="/readmore/block/{{i}}"  ></a> </i> </span> 
          <span class="other-visit-original "><i onmouseenter = "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-person-running fa-2x" data-toggle="tooltip" data-placement="bottom" title="Visit the original article.."><a class="p-2" href='{{ blockchain_list[i]["link"] }}'></a></i></span>
          <span class="other-read-later " ><i onmouseenter = "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-download fa-2x" data-toggle="tooltip" data-placement="bottom" title="Add to read-later."><a class="p-2"  onclick="AppendToRL('{{i}}', 'block')"></a></i></span> 
        </div>

        <div id="" class=" web3-images">
          <a href='{{ blockchain_list[i]["image-link"] }}' target="_blank">
            <img onmouseover="FocusUp(this)" onmouseleave="FocusDown(this)" src='{{ blockchain_list[i]["image-link"] }}' alt="" />
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div id="append-more-block-news">

    </div>

    <!-- loadmoreButton -->
    <div  id="load2" class="load-more sticky">
      <span id="scrollBottomBlock" ><i id="topBlock" class="fa-solid fa-jet-fighter-up fa-2x" style="transform: rotate(180deg);"></i></span>

      <span id="loadmoreBlock"><i class=" fa-solid fa-circle-chevron-down fa-3x"></i></span>
      <a href="#scrollBottomBlock"><span id="scrollTopBlock"><i class="fa-solid fa-jet-fighter-up fa-2x"> </i></span></a>
      
    </div>
  </div>

  <!-- add stocksection here -->

  <!-- stocks-and-crypto-section -->
    <div class="cryptos-section">
      <!-- search  -->
      <div id="searchCrypto">
        <input id="Searchcrypto" oninput="Searchcrypto()" name="Searchcrypto" type="text" placeholder="Search Crypto..">
      </div>



      <div class="Cryptocontainer d-flex flex-row mb-3">
        <!-- row1 -->
        <div id="prepend-here" class="cryptos-section-rows p-2 row row-cols-1">
          
          
          {% for i in range(32, crypto_list|length)  %}
            {% set name = (crypto_list[i]['name']).lower() %}
              <div id="{{(crypto_list[i]['name']).lower()}}" ondblclick="ExpandDetails(this)"  class="cryptos col c-tabs" style='background-image: url("https://coinicons-api.vercel.app/api/icon/{{name}}");'>
              
                <h2>{{ crypto_list[i]['asset_id'] }}</h2>
                <!-- <h4>{{ crypto_list[i]['price_usd'] }}</h4> -->
                <div id="appendDetails{{(crypto_list[i]['name']).lower()}}">

                </div>
              </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}
