{% extends "base.html" %} 
{% block title %}Home{% endblock %}

<!-- "Extended" -->
{% block Content %}
<div>
    <h2>This is user's readlater page</h2>
    <div class="container">
        {% for i in newslist %}
        <div class="newsdiv" style="border: 2px solid green;">
            <div class="imgcontainer" style="height: 5rem; width: 5rem;">
                <img style="height: 5rem; width: 5rem;" src="{{ i.imgLink }}" alt="">
            </div>
            <h3>{{ i.title }}</h3>
            <a href="{{ i.blogLink }}"> <button>visit news blog</button></a>

        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}