{% extends "base.html" %} 
{% block title %}Home{% endblock %}

<!-- "Extended" -->
{% block Content %}
<div>
    <h2 id="this-is-read-later">READ LATERS</h2>
    <h1 id="emptyTag">EMPTY</h1>
    <div id="my-readlaters"  class="container  ">
        
        {% for i in newslist %}
        <div id="newsListId{{i.newsId}}" class="newsdiv" >
            <div class="imgcontainerReadLater" >
                <img onmouseover="FocusUp(this)" onmouseleave="FocusDown(this)" src="{{ i.imgLink }}" alt="">
            </div>
            <span class="titles-readlater"> {{ i.title }}</span>
            <span class="readlaterAuthor"> {{ i.author }}</span>
            <!-- Go to article -->

            <div class="readLaterButtons">
                <span class="readlaterVisit"><a class="p-2" href='{{ i.blogLink }}'><i onclick= "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-angles-right fa-2x" data-toggle="tooltip" data-placement="bottom" title="Visit the original article.."></i></a></span>
                <span class="delNews" onclick="RemoveFromRL('{{i.newsId}}')"><i onclick = "FadeReadLater(this)" onmouseleave="FadestopReadLater(this)" class="fa-solid fa-delete-left fa-2x"></i></span>
            </div>

        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}