/* site responsiveness */
/* if less than 2400px*/
@media only screen and (max-width: 2400px){
  .cryptos-section {
    left: 64.5rem;
  }
}
/* if less than 2000px*/
@media only screen and (max-width: 2000px){
  .other-headline-container{
    left: -31rem;
  }
  
  .cryptos-section{
    left: 58rem;
  }
}
/* if less than 1600px*/
@media only screen and (max-width: 1600px) {
  .time-date {
    word-spacing: 0px;
  }

  .main-headline-container {
    width: 64%;
  }
  #head-news-title {
    max-height: 7rem;
  }

  #head-news-description {
    max-height: 3.1rem;
  }
  .image-headline img {
    width: 18rem;
  }
  .read-more {
    bottom: -0.7rem;
  }
  .visit-original {
    bottom: -1.5rem;
    left: 20rem;
  }
  .read-later {
    bottom: -1.4rem;
    left: 22rem;
  }
  #searchText{
    width: 45rem;
  }
  #search-results{
    width: 45rem;
    justify-content: center;

  }
  #close-search{
    left: -1.7rem;
    top: -1.9rem;
  }

  .other-headline-container{
    
    left: -26rem;
    width: 45rem;
  }
  .web3News-section{
    width: 35rem;
  }
  .cryptos-section{
    left: 48rem;
    width: 16rem;
  }
 
}


/* if less than 1200px*/
@media only screen and (max-width: 1200px) {


  .home-body{
    height: 380rem;
  }
  #navbar {
    top: -0.1rem;
    left: -1.2rem;
  }

  .nav-item {
    display: none;
  }

  #nav-toggler {
    display: block;
    /* bottom: 0; */
    text-shadow: 1px 11px 8px #2e2d2d;
  }

  .flash-text-container h3 {
    font-size: 1.5rem;
    animation: marquee 800s linear infinite;
  }
  .time-date span {
    left: 0.32rem;
  }

  .main-headline-container {
    width: 100%;
  }
  #head-news-title {
    width: 99%;
    max-height: 45%;
    position: relative;
    right: 1.2rem;
    
  }

  .image-headline img {
    width: 19rem;
    left: 1rem;
  }

  .web3News-section {
    position: absolute;
    top: 50rem;
    left: 1rem;
  }
  .read-more {

    bottom: -2.5rem;
    right: 2rem;
  }
  .visit-original {
    bottom: -3.5rem;
    left: 18rem;
  }
  .read-later {
    bottom: -3.4rem;
    left: 22rem;
  }
  #searchText{
    width: 96vw;
  }
  #search-results{
    width: 96vw;
    justify-content: center;
    z-index: 2;

  }
  #close-search{
    left: 60rem;
    top: -3.6rem;
  }
  .other-headline-container{
    
    left: 0rem;
    width: 100%;
    height: 120rem;
  }
  .new-img-demo {
    
    width: 96%;
    height: 20rem;
    margin-top: 1rem;
    
    
  }
  .new-img-demo  img{
    height: 100%;
    width: 100%;
    
  }
  .web3News-section{
    position: static;
    width: 100%;
    margin-top: 5rem;
    position: relative;
    top: 18rem;
  }

  #scrollBottomBlock{
    position: relative;
    top: -253rem;
    
  }
  #loadmoreBlock{
    display: block;
    left: 0%;
  }

  .Cryptocontainer{
    display: flex;
    height: 80rem;
  }

  .cryptos-section{
    position: relative;
    left: 1.5rem;
    top: 12rem;
    width: 96%;
    
  
  }
  .cryptos-section-rows{
    width: 100%;

    
  }
  .cryptos {
    width: 70rem;
    
  }

  .OnehrVol, .OnedayVol, .OnemonthVol{
    font-size: 1.4rem;
  }
  
}




/* less than 700px*/

@media only screen and (max-width: 700px) {
  #second,
  #colon2 {
    display: none;
  }

  .home-body{
    height: 440rem;
  }
  .time-date {
    word-spacing: 3px;
  }
  #navbar {
    top: -0.1rem;
    left: -1.2rem;
  }

  #nav-toggler {
    position: absolute;
    width: 2rem;
    right: 1.4rem;
    bottom: -2.5rem;
    text-shadow: 1px 11px 8px #2e2d2d;
  }

  .navbar-nav {
    position: relative;
    width: 98%;
  }

  .logo-container {
    position: relative;
    height: 0;
    top: -2.2rem;
  }

  .nav-item {
    padding: 0;
  }

  #login-button {
    right: -5rem;
    top: 7.8rem;
  }

  #logoImg {
    width: 120px;
  }

  .flash-text-container {
    bottom: 5px;
    padding: 0;
  }

  .flash-text-container h3 {
    font-size: 1.3rem;
    animation: marquee 900s linear infinite;
  }

  .time-date {
    font-size: 1rem;
    letter-spacing: 1px;
    overflow: hidden;
    text-align: center;
    width: 9rem;
    height: 3.6rem;
    bottom: 1.3rem;
    right: -1rem;
    margin: 0;
  }
  .time-date span {
    left: 2px;
    padding: 0;
    top: 8px;
    font-size: 1rem;
  }
  .main-headline-container{
    height: 30rem;
    max-height: 40rem;
  }
  
  #head-news-title{
    position: relative;
    top: 0.2rem;
    width: 22rem;
    max-height: 10.2rem;
  }

  #head-news-description{
    position: relative;
    top: 12rem;
    width: 22rem;
    max-height: 8rem;
  }

  
  .image-headline img{
    position: relative;
    top: 6.5rem;
    left: -15.5rem;
    width: 22.2rem;
    height: 12rem;
    opacity: 0.9;
    
  }
  .read-more{
   
    top: 12.5rem;
  }
  .visit-original {
    position: absolute;
    top: 13.5rem;
    left: 10rem;
    
  }
  .read-later {
    position: absolute;
    top: 13.4rem;
    left: 18.5rem;
    
  }

  #searchText{
    width: 92vw;
  }
  #search-results{
    margin-top: 1rem;
    width: 92vw;
    justify-content: center;
    z-index: 2;

  }
  #close-search{
    left: -1.7rem;
    top: -1.9rem;
  }
  .other-headline-container{
    padding-top: 1rem;
  }
  .news-section{
    width: 100%;
    position: relative;
    left: -2rem;
    
  }

  .lds-hourglass{
    left: 40%;
  }
  #NoTitleFound{
    font-size: 1rem;
    left: 20%;
    top: 40%;
  }
  .web3News-section{
    height: 150rem;
    position: relative;
    top: 20rem;
    
  }
   
  .blockchain-news-section{
    width: 100%;
    position: relative;
    left: -2rem;
  }
  #scrollBottomBlock{
    position: relative;
    top: -313rem;
    
  }

  .stocks-section{
    position: relative;
    top: 13rem;
    left: 1rem;
  }
  #searchCrypto{
    position: relative;
  }

  .cryptos-section{
    width: 86%;
  }
  #Searchcrypto{
    margin-top: 3rem;
  }


}





/* MORE THAN */
@media only screen and (min-width: 600px) {
  .time-date {
    word-spacing: 1px;
  }
}
@media only screen and (min-width: 1200px) {
  .time-date {
    word-spacing: 5px;
  }
}
