/* imports and colors */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');





body {
  background-color: #000000;
  margin: -1rem;
  overflow-x: hidden;
  

  
}
/* image blur and zoomed effect */
.blur{
  filter: blur(5px);
}


/*loader*/
.loader {
  position: absolute;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0585ee; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  top: 45%;
  left: 46%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* navbar */
.navbar {
  position: fixed;
  margin-top: 0px;
  margin-left: 1rem;
  z-index: 6;
  height: 7rem;
  box-shadow: 0 2px 7px 2px #04e7f9;
  
}

.l1 a {
  color: #faf8f8;
  text-shadow: 4px 7px 8px rgb(10, 10, 10);
}

.l2 a {
  color: #faf8f8;
  text-shadow: 4px 7px 8px rgb(10, 10, 10);
}

.navbar-nav {
  position: relative;
  width: 100%;
}

.nav-item {
  display: block;
  padding-left: 68px;
  padding-top: 7px;
  width: 15rem;
  font-size: 23px;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-weight: 1000;
  letter-spacing: 1.1px;
 
}
.nav-item i {
  padding: 10px;
}

.nav-item :hover {
  /* color: rgb(235, 0, 0); */
  animation: changeColor 2s infinite;
}

@keyframes changeColor {
  25% {
    color: #07f5f5;
    letter-spacing: 2.2px;
  }
  50% {
    color: #fcbb06;
    letter-spacing: 1.1px;
  }
  75% {
    color: #07caf1;
    letter-spacing: 2.2px;
  }
}

.radial-gradient {
  background: radial-gradient(rgba(13, 13, 14, 0.415), rgb(7, 202, 246));
}
.radial-gradient-home {
  background: radial-gradient(rgb(22, 219, 219), #085a7a);
}

/* toggler */
#nav-toggler {
  display: none;
  position: absolute;
  width: 3rem;
  right: 3rem;
  bottom: -2.5rem;
  text-shadow: 1px 2px 3px aqua;
  animation: shadow 2s linear 3;
}

@keyframes shadow {
  33% {
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
  }
  66% {
    text-shadow: 1px 1px 3px rgb(223, 233, 233);
  }
  99% {
    text-shadow: 1px 3px 3px rgb(13, 13, 14);
  }
}

.logo-container {
  position: relative;
  padding-left: 10px;
  height: 6rem;
}

#logoImg {
  width: 138px;
  box-shadow: 0px 1px 11px 8px #2e2d2d;
  background-color: #3e3636;
}

#login-button {
  align-items: center;
  /* display: flex; */
  position: absolute;
  right: 0rem;
  width: 20rem;
}
#login-button button {
  position: relative;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 4rem;
  background-color: #7a7c79;
}

/* #r-laterButton */
#r-laterButton button {
  border-radius: 4rem;
  background-color: #7a7c79;
}

#login-button i {
  border-radius: 4rem;
}
#login-button button :hover {
  background-color: #0fe5aa;
}
#r-laterButton button :hover {
  background-color: #0fe5aa;
}


/* display-zoomed-image */
#display-zoomed-image{
  display: none;
  height: 65vh;
  width: 51vw;
  background: url("https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 25%;
  top: 20%;
  z-index: 99999;
  

}
#appendedImg{
  height: 100%;
  width: 100%;
  border-radius: 1rem 0 1rem 0;
  box-shadow: 1px 1px 12px 8px black;
  transition: display 2s ease;
}

/* homeBody */
.home-body {
  position: relative;
  top: 9rem;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  box-shadow: -2px 1px 12px 8px rgb(104, 100, 100);
  height: 118rem; /*can increase body height to add more news sections layers later */
  
}


/* flashnewscontainer */
.flash-news {
  background-color: #18acc3;
  border-radius: 2rem;
  margin-top: 1rem;
  height: 3rem;
  box-shadow: 0 2px 7px 2px #050df7;
}

.flash-text-container {
  position: relative;
  height: 2rem;
  bottom: 9px;
  border-radius: 2rem;
  padding-bottom: 0;
  overflow: hidden;
}

.flash-text-container h3 {
  width: fit-content;
  white-space: nowrap;
  font-family: "Righteous", cursive;
  color: rgb(255, 255, 255);
  text-shadow: 1px 4px 8px rgb(22, 21, 21);
  animation: marquee 500s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0.5%);
  }
  to {
    transform: translateX(-100%);
  }
}

.time-date {
  background: linear-gradient(#0ef0ff 1% , #848698 50%  );
  bottom: 8px;
  border-radius: 2rem;
  color: #0d0e0d;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Righteous", cursive;
  position: relative;
  width: 21rem;
  height: 2rem;
  word-spacing: 0.4rem;
  padding-bottom: 2px;
  box-shadow: 0px 1px 6px 2px rgb(3, 3, 3);
  animation: tick 1s infinite;
}
@keyframes tick {
  50% {
    box-shadow: 0px 1px 1px 2px rgb(3, 3, 3);
    color: rgb(245, 247, 248);
    text-shadow: 0px 2px 10px rgb(12, 12, 12);
  }
  100% {
    box-shadow: 0px 1px 10px 2px rgb(3, 3, 3);
  }
}

.time-date span {
  position: relative;
  left: 0.4rem;
  padding-left: 5px;
}

/* main headline */

.main-headline-container {
  background: radial-gradient(rgb(0 0 0), #dc3545);;
  height: 17rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: -1rem;
  width: 65%;
  border-radius: 2rem;
  box-shadow: 2px 1px 8px 2px rgb(19, 18, 18);
  
}


#head-news-title{
  background-color:  rgba(1, 1, 1, 0.384);
}

#head-news-title,
.headers-title {
  
  border-radius: 2rem;
  box-shadow: 0px 1px 10px 2px rgb(12, 12, 12);
  cursor: pointer;
  font-family: "Righteous", cursive;
  text-shadow: 2px 3px 5px #080808;
  text-align: center;
  margin: 2rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-height: 7rem;
  overflow: hidden;
  transition: transform 1s ease, background-color 1s ease, box-shadow 1s ease-in, text-shadow 1s ease-out ;
 
}

.headers-title{
  background-color:  #52505061;
}


#head-news-title a,
.headers-title a { 
  text-decoration: none;
  color: white;
  transition: color 1s ease; 

}



#head-news-description,
.headers-desp {
  color: #daf6fc;
  text-shadow: 4px 5px 4px #000000;
  line-height: 1.5rem;
  font-weight: 200;
  font-size: 25.5px;
  margin-top: 1rem;
  text-align: center;
  padding-left: 0.2rem;
  padding-bottom: 0.21rem;
  content: inherit;
  overflow: hidden;
  font-family: "Concert One", cursive;
}



/* Readmore section */

#topnewsReadMore{
  
  position: relative;
  left: 3rem;
  padding-top: 0.5em;
  bottom: -3.1rem;
}
.other-read-more{
  padding-left: 1rem;
}
.read-more i, .other-read-more i{ /* will change all readmore icons*/
  color: #77a6ce;
  text-shadow: 5px 7px 7px rgb(36, 34, 34);
  text-decoration: solid;
  
  
}


#topnewsVisitOriginal, #topnewsReadLater{
  position: relative;
  left: 30rem;
  bottom: -3.1rem;
  padding-top: 0.5em;
  
}
#topnewsReadLater{
  left: 32rem;
}
.other-visit-original{
  margin-left: -3rem;
  position: relative;
  left: -2rem;
}

.visit-original i, .other-visit-original i{
  color: #1ca190d7;
  text-shadow: 5px 7px 7px rgb(36, 34, 34);
}

.read-later  {
  position: relative;
  left: 32em;
  bottom: -4rem;
  cursor: pointer;

}

.read-later i, .other-read-later i{
  color:  #1ca190d7;
  text-shadow: 5px 7px 7px rgb(36, 34, 34);
  top: 0;
}

.image-headline {
  position: relative;
}
.image-headline img {
  box-shadow: 0px 1px 10px 7px black;
  cursor: pointer;
  height: 15rem;
  width: 23rem;
  position: relative;
  top: 13px;
  margin-right: 2px;
  border-radius: 1rem 0 1rem 0;
  transition: transform 1s ease-in;
  

}


/* Share*/


.share{
  background-color: rgb(255, 255, 255);
  border-radius: 2rem 0 2rem 0;
  box-shadow: 0px 0px 10px 4px black;
  position: fixed;
  padding: 1rem;
  bottom: 2rem;
  left: 32vw;
  height: 5rem ;
  width: 37vw;
  transform: translateX(-200%);
  transition: transform 0.5s ease-out;
  z-index: 100;
 
}

.share.visible {
  display: block;
  transform: translateX(0);
}

.share-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.share-button {
  padding: 0.5rem;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #eee;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.share-button:hover {
  transform: scale(1.1);
  color: rgb(0, 225, 255);
  background-color: rgb(227, 243, 7);
}

.whatsapp {
  background-color: #25D366;
  color: #fff;
}

.facebook {
  background-color: #3B5998;
  color: #fff;
}

.twitter {
  background-color: #1DA1F2;
  color: #fff;
}
.instagram {
  background-color: #ec530c;
  color: #fff;
}


.fa {
  font-size: 1.5rem;
}

#copy-input{
  width: 16vw;
  background-color: #c0c0c0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.copy-button{
  background-color: rgb(192, 240, 19);
  font-family: sans-serif;
  box-shadow: 0px 0px 3px 1px black;

}

.copy-button:hover{
  background-color: greenyellow;
}

.close-search{
  position: absolute;
  top: -2rem;
  right: -1rem;
  font-size: 2rem ;
  border-radius: 2rem;
  transition: transform 2s;
  
}
.close-search:hover{
  transform: rotate(-45deg);
}

.close-search i{
  box-shadow: 0px 0px 3px 1px black;
  background-color: rgba(255, 0, 0, 0.671);
  border-radius: 5rem;
  transition: all 2s;

  
}
.close-search i:hover{
  box-shadow: 1px 3px 5px 2px rgba(211, 14, 14, 0.562);
  background-color: rgb(236, 235, 235);
  border-radius: 5rem;
}
/* content-readmore */

#content-readmore{
  background-color: red;
  color: white;
  position: relative;
  top: 10rem;
  padding: 3rem;
}

.content{
  font-size: 1.5rem;
}

/*search*/

#search-section {
 
  height: fit-content;
  width: fit-content;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
#searchText {
  color: rgba(92, 47, 47, 0.959);
  background: linear-gradient(to bottom right, #dc3545, black);
  border-radius: 1rem;
  box-shadow: 0px 4px 10px 1px black;
  font-family:"Righteous", cursive;
  letter-spacing: 2px;
  text-shadow: 1px 1px 4px rgba(253, 252, 252, 0.788);
  height: 2rem;
  width: 54rem;
  padding-left: 1rem;
  position: relative;
  bottom: 2rem;
  opacity: 0.85;
  transition: all 1s;
  
}
#searchText::placeholder{
  color: rgba(253, 255, 255, 0.871);
  text-shadow: 1px 1px 4px rgba(6, 6, 6, 0.788);

}
.focused-input::placeholder {
  color: rgb(243, 67, 8) !important; 
  text-shadow: 2px 2px 6px rgba(7, 238, 230, 0.788) !important;
}


#searchspan i {
  color: #fdfdfff5;
  margin-left: 1rem;
  text-shadow: 4px 4px 5px black;
  position: relative;
  bottom: 1.7rem;
 
}

#search-results {
  background: linear-gradient(rgb(0, 247, 255) 0%, black 50%);
  border-radius: 2rem;
  box-shadow: 0px 5px 7px 2px rgb(66 64 64);
  padding: 2rem 1rem 0 2rem;
  width: 53rem;
  height: 19rem;
  margin-top: 2px;
  overflow-y: auto;
  position: relative;
  bottom: 1rem;
  z-index: 1;
  scrollbar-width: thin; /* Set the width of the scrollbar track */
  scrollbar-color: #ccc transparent; 
  display: none;
}

#search-results::-webkit-scrollbar {/* Hide scrollbar for Chrome, Safari and Opera */
  width: 5px;
}

#search-results::-webkit-scrollbar-thumb {
  background-color: #999; /* Set the color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

#search-results::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the track */
}

#close-search{
  
  display: none;
  position: relative;
  top: -2rem;
  left: -2.4rem;
  border-radius: 0.4rem;
  z-index: 2;
   
  
}
.fa-times-circle-o{
  color: rgb(245, 13, 1);
  cursor: pointer;
  text-shadow: 2px 2px 7px red;
  transition: all 1s;
}
.fa-times-circle-o:hover{
  color: rgb(244, 7, 224);
  text-shadow: 2px 2px 9px red;
  transform: scale(1.4) ;
}
.search-return{
  background: #202020;
  border: 2px solid black;
  box-shadow: 0px 0px 7px 2px black;
  border-radius: 2rem;
  color: rgba(15, 15, 15, 0.835);
  cursor: pointer;
  font-family: "Righteous", cursive;
  margin-bottom: 1rem;
  padding: 1rem 2rem 0 2rem;
  transition: all 0.5s;
  text-shadow:
    -1px -1px 0 rgb(247, 248, 249), /* Top-left shadow */
    1px -1px 0 rgb(247, 248, 249),  /* Top-right shadow */
    -1px 1px 0 rgb(247, 248, 249),  /* Bottom-left shadow */
    1px 1px 0 rgb(247, 248, 249);   /* Bottom-right shadow */
  
}

 


.search-return:hover{
  scale: 1.035;
  transition: all 0.3s;
  background: #000000;
  box-shadow: 0px 0px 7px 2px #333333;;
  text-shadow: 
  1px -1px 0 black,  /* Top-right shadow */
  -1px -1px 0 black, /* Top-left shadow */
  -1px 1px 0 black,  /* Bottom-left shadow */
  1px 1px 0 black;


   /* nest conditions */
  .search-titles{ 
    transition: all 0.5s;
    color: rgb(217, 216, 216);
  };

  .search-readmore-icon{
    transition: all 0.5s;
    color: #06f5f5;

  }

  
}







.search-readmore-icon{
  margin-left: 1.2rem;
  color: #636254;
  text-shadow: 0px 7px 3px black ;
}

.lds-hourglass {
  display: inline-block;
  position: absolute;
  left: 45%;
  top: 30%;
  width: 80px;
  height: 80px;
  
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #06f5f5 transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    border-color: #06f5f5 transparent #093ff0 transparent;
  }
  100% {
    transform: rotate(1800deg);
  }
}

#NoTitleFound{
  color: rgba(244, 245, 247, 0.651);
  font-family: "Concert One", cursive; 
  font-size: 1.5rem;
  position: absolute;
  left: 30%;
  text-shadow: 0px 5px 2px rgb(20, 1, 1);


}

/* video-section */
.video-section {

  position: absolute;
  left: 57rem;
  top: 23rem;
  height: 22rem;

}
.video-section img{
  height: 100%;
  width: 100%;
}
#centerGIF{
  border-radius: 1rem;
  position: absolute;
  top: -1rem;
  display: block;
  height: 21rem;
  width: 20rem;
  opacity: 0.9;

}
/* NULL images */
.null-image{
  height: 26rem !important;

}

/* other-headline-container */
.other-headline-container {
  background: linear-gradient(to bottom left ,#050505 , #dc3545 30%, black 80%);
  box-shadow: 2px 1px 8px 2px rgb(19, 18, 18); 
  border-radius: 0rem 2rem 0rem  2rem;
  height: 85rem;
  width: 55rem;
  overflow: auto;
  padding: 5px;
  position: relative;
  scroll-behavior: smooth;
  left: -31rem;
  z-index: 5;
  transition: all 1s;

  
}

.other-headline-container::-webkit-scrollbar {/* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.news-section {
  border-radius: 1rem;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
  height: fit-content;
  box-shadow: 0 0 8px 2px rgb(0, 0, 0);
  background: radial-gradient(rgb(73 73 73), black);
  
}


.new-img-demo {
  width: 100%;
  height: 100%;
  
}
.new-img-demo  img{
  height: inherit;
  width:inherit; 
  box-shadow: 0px 1px 10px 7px black;  
  cursor: pointer;
  position: relative;
  border-radius: 1rem 0 1rem 0;
  transition: transform 1s ease-in;
  
}

.other-news-description {

  max-height: 9.2rem;
  padding-bottom: 4px;
}

.other-readmore-container{
  padding: 0 3rem 0 5rem;
  margin-top: 1rem;
  
}
.other-readmore-container a{
  display: inline-block;
  width: 3rem;
  height: 2.2rem;
  position: relative;
  left: -2rem;
}



.other-visit-original i{
 position: relative;
 margin-right: 1rem;
}

/* web3News-section */
.web3News-section {
  background: radial-gradient(rgb(2, 216, 245), #03030365);
  box-shadow: 2px 1px 8px 2px rgb(19, 18, 18); 
  position: absolute;
  top: 5.2rem;
  right: 1rem;
  height: 108rem;
  width: 41rem;
  padding: 0.2rem;
  overflow: auto;
  scroll-behavior: smooth;
  border-radius: 2rem 0rem 2rem  0rem;
}

.web3News-section::-webkit-scrollbar {/* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.blockchain-news-section {
  border-radius: 1rem;
  margin: 2rem;
  cursor: pointer;
  height: fit-content;
  box-shadow: 0 0 8px 2px rgb(0, 0, 0);
  background: radial-gradient(rgb(0, 247, 255), black);
}
.web3News-section h3 {
  font-size: 1.6rem;
  max-height: fit-content;

}


.blockchain-news-description {
  height: fit-content;
  padding-left: 3rem;
  padding-top: 0rem;
  width: 95%;
  position: relative;
  

}

.block-readmore-container{
  padding: 2rem;
}
.block-readmore-container a {
  padding: 2rem;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: relative;
  left: -2rem;
  top: 1rem;
}

.web3-images {
  max-height: inherit;
  width: 94%;
  height: 19rem;
  margin: 0 0 1rem 1rem;
}

.web3-images img{
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 1px 10px 7px black; 
  
}

/* cryptos-section */

.cryptos-section {
  
  border-radius: 10rem;
  height: 54rem;
  width: 20rem;
  position: absolute;
  top: 37.6rem;
  left: 58rem;
  padding: 0.2rem;
}

.Cryptocontainer {
  background-color: #08daff3d;
  box-shadow: 2px 0px 10px 3px black;
  height: 62rem;
  position: relative;
  border-radius: 1rem;
  top: 10rem;

}

.cryptos-section-rows {
  background-color: #6565653b;
  width: 50rem;
  margin: 2px;
  border-radius: 2rem;
  overflow: scroll;
}

.cryptos-section-rows::-webkit-scrollbar {/* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.cryptos {
  margin: 1px;
  border-radius: 1rem;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.541);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  background-position-x: center;
  background-blend-mode: hue;

}

.asset_ID{
  font-size: 5rem;
  font-family: 'Yatra One', cursive;
  color: white;
  position: relative;
  top: 20%;
  text-shadow: 0 10px 3px rgb(5, 5, 5);
  -webkit-user-select: none; /*dont select text when double clicking*/
  -ms-user-select: none; 
  user-select: none; 
  
  
}

.price{
  font-size: 2rem;
  color: whitesmoke;
  font-weight: 600;
  text-shadow: 1px 4px 5px black;
}
.OnehrVol, .OnedayVol, .OnemonthVol{
  font-size: 1.2rem;
  color: whitesmoke;
  font-weight: 600;
  text-shadow: 1px 4px 5px black;
  padding-top: 1rem  

}


.c-tabs {
  cursor: pointer;
}

#searchCrypto {
  position: relative;
  top: 8rem;
}

#Searchcrypto{
  border-radius: 2rem;
  width: inherit;
  box-shadow: 0px 4px 10px 1px black;
  font-family:"Righteous", cursive;
  padding-left: 1rem;
  opacity: 0.85;
 

}

#Searchcrypto::placeholder{
  letter-spacing: 2px;
}

.crypto-close {
  background-color: #32ff08;
  
}


/* Readmore section*/
.readmore-container {
  position: relative;
  bottom: 2.5em;
}


/* Loadmore icons section */
#load1{
  color: rgba(0, 217, 255, 0.801);
  height: fit-content;
  text-shadow: 0px 2px 1px rgb(44, 43, 43);  /* defualt shadow*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  
  
}

#scrollBottomOther{
  position: absolute;
  top: 2rem;
}
#scrollBottomOther i{
  color: #7d7e7c;
  animation: flyDown 1s infinite ;
  opacity: 1;
}

@keyframes flyDown {
  25% {transform: rotate(180deg) translate(0 , 20px); text-shadow: 5px 8px 4px black}
  50% {transform: rotate(180deg) translate(0 , 30px); text-shadow: 3px 7px 3px black;}
  75% {transform: rotate(180deg) translate(0 , 40px); opacity: 0;}; 
}
 


#scrollTopOther i{
  color: #7d7e7c;
  animation: flyUp 1s infinite ;
  opacity: 1;
}

@keyframes flyUp {
  25% {transform: translate(0 , 40px); opacity: 0;}
  50% {transform: translate(0 , 30px); text-shadow: 3px 7px 3px black;}
  75% {transform: translate(0 , 20px); text-shadow: 5px 8px 4px black; }
}

#loadmoreOther{
  position: relative;
  left: 50%;
}

#loadmoreOther i {
  color: #ffffff00;
  text-shadow: 0px 5px 2px black;
  animation: loadMoreAnim 2s linear infinite;
  opacity: 0;
}

@keyframes loadMoreAnim {
  25% {color: rgba(22, 22, 22, 0.671) ;transform:  translate(0 , 20px); text-shadow: 3px 9px 3px black; opacity: 1;}
  50% {color: rgba(101, 103, 103, 0.89) ;transform:  translate(0 , 30px); text-shadow: 4px 11px 2px rgba(0, 0, 0, 0.247);}
  75% {color: rgba(254, 254, 254, 0.938) ;transform:  translate(0 , 40px) ;opacity: 1;}; 
}

#load2{
  color: rgba(0, 217, 255, 0.801);
  height: fit-content;
  text-shadow: 0px 2px 1px rgb(44, 43, 43);  /* defualt shadow*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  
  
}
#scrollBottomBlock{
  position: absolute;
  top: 2rem;
}

#scrollBottomBlock i{
  color: rgb(9, 248, 228);
  animation: flyDown 1s infinite ; /* animation keyframes above*/
  opacity: 1;
}

#scrollTopBlock i{
  color: rgb(9, 248, 236);
  animation: flyUp 1s infinite ; /* animation keyframes above*/
  opacity: 1;
}

#loadmoreBlock{
  position: relative;
  left: 50%;
}
#loadmoreBlock i {
  color: red;
  text-shadow: 0px 5px 2px black;
  animation: loadMoreAnim 2s linear infinite;
  opacity: 0;
}




/*--- Login-page/ signup page ---*/
form {
  box-shadow: 0px 0px 6px 1px rgb(6, 186, 241);
}
form label{
  font-size: 1.3rem;
}
.form-group{
  
  width: 20rem;
}



.signup-form, .login-form {
  height: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.signup-form form, .login-form form {
  align-items: center;
  background: radial-gradient(rgba(245, 244, 244, 0.74) ,  rgba(3, 178, 247, 0.952));
  position: relative;
  top: 9rem;
  left: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10rem;
  padding: 2rem;
  width: fit-content;
  height: fit-content;
  font-family: 'Berkshire Swash', cursive;
}

#sign-up-title, #log-in-title{
  font-size: 3rem;
  letter-spacing: 2px;
  text-shadow: 4px 7px 3px rgba(12, 12, 12, 0.466);
}


/* buttons */

.signup-form button, .login-form button {
  --border: 7px;    /* the border width */
  --slant: 0.7em;   /* control the slanted corners */
  --color: black; /* the color */
  
  font-size: 20px;
  padding: 0.4em 1.2em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: rgb(13, 14, 14);
  background: 
     linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
     linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s,#00000059),
    0 0 0 var(--border) inset rgba(15, 15, 15, 0);
  clip-path: 
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
  transition: color var(--t,0.3s), background-size 0.3s;
}
.signup-form button:focus-visible,  .login-form button:focus-visible  {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid rgba(0, 0, 0, 0.863);
  clip-path: none;
  background-size: 0 0;
}
.signup-form button:hover,
.login-form button:hover,
.login-form button:active,
.signup-form button:active{
  background-size: 100% 100%;
  color: #ffffff;
  --t: 0.2s 0.1s;
}
.signup-form button:active, .login-form button:active {
  --s: #0005;
  transition: none;
}
/* already signed in */
#Signed-In, #Logged-in{
  --border: 3px;    /* the border width */
  --slant: 0.7em;   /* control the slanted corners */
  --color: rgb(247, 244, 244);
  color: rgba(255, 255, 255, 0.973);
  position: relative;
  top: 7rem;
  left: 50rem;
  font-size: 1.6rem;
  font-family: cursive;
  background: 
     linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
     linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
 
}


#Signed-In:focus-visible, #Logged-in:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid rgba(248, 244, 244, 0.993);
  clip-path: none;
  background-size: 0 0;
}
#Signed-In:hover,
#Logged-in:hover,
#Signed-In:active,
#Logged-in:active{
  background-size: 100% 100%;
  color: #ffffff;
  --t: 0.2s 0.1s;
}
#Signed-In:active, #Logged-in:active {
  --s: rgb(255, 255, 255);
  transition: none;}




/* logout */
#logoutLink {
  position: relative;
  top: 10rem;
}

/* footer */
#footer {
  position: relative;
  background: linear-gradient(rgba(238, 238, 236, 0.575), rgba(18, 19, 19, 0.616));
  border-radius: 10rem;
  box-shadow: 0px 5px 13px 8px black;
  color: white;
  font-family: 'Berkshire Swash', cursive;
  padding: 0 1rem 0 1rem;
  top: 10rem;


}
#getconnected{
  color: rgb(8, 8, 8);
}
#social-media-links-section{
  background: radial-gradient(white, rgb(184, 182, 182));
  height: 5rem;
  border-radius: 0 2rem 0 2rem;
  box-shadow: 0px 6px 9px 4px black; 
  padding: 0 1rem 0 1rem;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5rem;
  text-shadow: 0px 2px 3px rgb(10, 10, 10);

}

#social-media-links-section i{
  color: rgb(8, 8, 8);
}
#other-links-section{
  display: flex;
  flex-direction: row;
  
}
.foot-container{
  box-shadow: 0 0 7px 3px rgb(0, 0, 0);
  background-color: rgb(7, 7, 7);
  border-radius: 1rem 0 1rem 0;
  display: block;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  width: 32rem;
}

.foot-container h6{
  color: rgb(255, 254, 254);
  font-size: 1.5rem;
}


/* Alert area */

.alertArea{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(13, 153, 130, 0.541);
  box-shadow: 0px 0px 7px 3px rgb(0, 0, 0); 
  position: absolute;
  top: 2rem;
  left: 70rem;
  width: 27rem;
  border: 0;
  
}
.alertArea h6{
  color: white;
}


/* # Readlater Page */
#my-readlaters{
  background-color: rgba(0, 255, 255, 0.459);
  border-radius: 2rem;
  box-shadow: 2px 2px 8px 3px rgb(78, 77, 77);
  position: relative;
  top: 15rem;
  padding: 3rem;
  min-height: 35rem;
  max-height: 70rem;
  margin-bottom: 10rem;
  overflow: auto;
 
}

#my-readlaters::-webkit-scrollbar {/* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

#this-is-read-later{
  color: rgb(30, 100, 100);
  position: absolute;
  top: 8rem;
  left: 47rem;
  font-size: 4rem;
  text-shadow: 1px 5px 2px white;
  font-family:"Righteous", cursive;

}

.newsdiv{
  background: linear-gradient(rgba(0, 255, 255, 0.514), rgb(30, 100, 100), rgba(255, 255, 255, 0.651) );
  box-shadow: 1px 1px 8px 2px black;
  margin: 2rem;
  height: 16rem;
  padding: 1rem;
  width: 95%;
  border-radius: 0 2rem 0 2rem;
  text-shadow: 0px 2px 1px black;
  font-family:"Righteous", cursive;

}
.newsdiv img{
  border-radius: 1rem;
  box-shadow: 0px 0px 4px 1px black;
  color: aq;
  right: 6rem;
  position: absolute;  
  display: block;
  height: 14rem;
  max-width: 22rem;
}
.titles-readlater{
  display: block;
  width: 50rem;
  position: relative;
  top: -4rem;
}

#emptyTag{
  color: white;
  position: relative;
  top: 25rem;
  left: 57rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 5px 2px black;
  z-index: 2;
 
}

.delNews{
  color: rgb(247, 11, 11);
  text-shadow: 5px 7px 7px rgb(36, 34, 34);
}



